<div data-search-meetups-target="list">
  <div class="container">
    <div class="row">
      <div class="col-12 mt-3 mb-3">
        <h3 class="fs-3 text-center">
          <% if params[:query].blank? %>
            <strong>There are <%= pluralize meetups.count, "people" %> available to meet</strong>
          <% else %>
            <strong><%= pluralize meetups.count, "result" %> for <code><%= params[:query] %></code></strong>
          <% end %>
        </h3>
      </div>
    </div>
  <%# other travellers' meetups %>
    <div class="meetups">
      <div class="row">
        <% meetups.each do |meetup| %>
        <div class="col-12 col-sm-6 col-lg-4 mb-3">
          <div class="card mb-3 h-100 w-100 d-flex border-0 shadow-orange">
            <div class="card-body d-flex align-items-start flex-column">
              <div class="w-100">
                  <div class="mb-3 d-flex flex-wrap justify-space-between align-items-center">
                    <div class="flex-grow-1">
                      <small class="d-flex align-items-center py-1 fw-bold">
                        <% if meetup.user.avatar_thumbnail.present? %>
                          <%= image_tag meetup.user.avatar_thumbnail, class: "me-2 rounded-circle", width: 40, height: 40 %> <%= meetup.user.nickname %>
                        <% else %>
                          <% image_tag "default_avatar.png", alt: meetup.user.nickname, class: "me-2", width: 20 %> <%= meetup.user.nickname %>
                        <% end %>
                      </small>
                    </div>
                    <div>
                      <small class="d-block category-name rounded text-muted px-2 py-1">
                        <%= meetup.meetup_category.meetup_topic %>
                        <% if meetup.user.journeys.present? %>
                  <% if meetup.user.journeys.last.flight.gate_open_time.present? %>
                  <span class="card-text text-muted"> until: <%= meetup.user.journeys.last.flight.gate_open_time.strftime("%H:%M" )%></span>
                  <% end %>
                <% end %>
                      </small>
                    </div>
                  </div>
                </div>
                <p class="card-text fs-6 mb-2"><%= meetup.content %></p>
                <%# fre until here %>
                <% if current_user.present? %>
                <% haschat = false %>
                    <% @chatroomsto.each do |chatroom| %>
                        <div class="mt-auto p-0 mb-0 w-100">
                          <% if meetup.id.eql?chatroom.messages.first.meetup_id %>
                            <% haschat = true %>
                            <% if chatroom.messages.first.status.eql?"REJECT"%>
                              <p class="text-danger mb-1"><i class="fa-regular fa-face-frown"></i> Sorry, your chat request has been declined</p>
                                <a href class="btn btn-outline-primary mt-3 d-block" data-bs-toggle="modal" data-bs-target="#createMeetup">
                                  Create a meetup </a>
                              <% else %>
                                <p class="mb-0 d-flex justify-content-center align-items-center btn btn-outline-primary"><i class="fa-regular fa-comments primary-color me-2"></i> <a href='<%= "#{airport_chatrooms_path}/#{chatroom.id}" %>' class="d-block w-100 primary-color text-decoration-none"><%= chatroom.name %></a> </p>
                              <% end %>
                          <% end %>
                        </div>
                    <% end %>
                    <% if !haschat %>
                      <button type="button" class="btn btn-primary w-100 mt-auto" data-bs-toggle="modal" data-bs-target="#submitMeetup<%= meetup.id%>">
                      Message <%= meetup.user.nickname %>
                      </button>
                    <% end %>
                <% else %>
                      <div class="d-flex flex-wrap">
                        <%= link_to "sign up", new_user_registration_path, class: "me-2" %> or <%= link_to "log in", new_user_session_path, class: "ms-2 me-2" %> to reply to <%= meetup.user.nickname %>
                      </div>
                <% end %>
            </div>
          </div>
        </div>

            <!-- Modal -->
        <div class="modal fade" id="submitMeetup<%= meetup.id%>" tabindex="-1" aria-labelledby="MeetupModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h2 class="modal-title fs-3" id="MeetupModalLabel">Let's meet!</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <form action="<%= "/airports/#{meetup.airport_id}/chatrooms" %>" accept-charset="UTF-8" method="post">
              <div class="modal-body">
                <%= meetup.user.photo %>
                <h3 class="card-title fs-4"><b><%= meetup.content %></b></h3>
                <br>
                <div>
                  <small class="d-flex align-items-center flex-grow-1">
                  <% if meetup.user.avatar_thumbnail.present? %>
                    <%= image_tag meetup.user.avatar_thumbnail, class: "me-2 rounded-circle", width: 20, height: 20 %> <%= meetup.user.nickname %>
                  <% else %>
                    <% image_tag "default_avatar.png", alt: meetup.user.nickname, class: "me-2 rounded-circle", width: 20 %> <%= meetup.user.nickname %>
                  <% end %>
                  </small>
                </div>
                <div>
                <% if meetup.user.journeys.present? %>
                  <% if meetup.user.journeys.last.flight.gate_open_time.present? %>
                    <p class="card-text">I'm free until:<%= meetup.user.journeys.last.flight.gate_open_time.strftime("%H:%M" )%></p>
                  <% end %>
                <% end %>
                </div>
                  <label for="message" class="d-block mt-3" >Send a message</label>
                  <input class="form-control" type="text" col=10 name="message" id="message" />
                  <input value=<%= meetup.id %> autocomplete="off" type="hidden" name="meetup_id" id="meetup_id" />
                  <input value=<%= meetup.airport_id %> autocomplete="off" type="hidden" name="airport_id" id="airport_id" />
              </div>
                  <% if current_user.present? %>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Send message</button>
                    </div>
                  <% end %>
                </form>

            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
