<!-- Modal for user to create a meetup-->
<% if current_user.present? %>
  <div class="modal fade" id="createMeetup" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createModalLabel">Post your meetup</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            <%= simple_form_for @new_meetup, url: "/airports/#{params[:airport_id]}/meetups", :method => :post do  |f| %>
              <div class="modal-body">
              <%= f.input :content, label: "What message would you like to post?", placeholder: "eg anyone free for a coffee?" %>
              <%= f.input :meetup_category_id, collection: [["Coffee",1],["Drinks",2],["Food",3],["Kids play",5],["Shopping",4]], label: "What would you like to meet for?", prompt: "Select from...", class:"text-muted" %>
              <%= f.hidden_field :airport_id, value: params[:airport_id] %>
              <%= f.hidden_field :user_id, value: current_user.id %>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <%= f.submit value: "Post your request", class: "btn btn-primary" %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
<% end %>

<%= render "shared/airport_nav" %>
<% if current_user.present? %>
  <%= render "shared/my_flight", flights: @flights %>
<% end %>
<div class="container">
  <div class="row justify-content-center terminal-header">
    <div class="col-12 col-md-9 mt-2 py-1 padx-4">
        <h1 class="mt-2 mb-3 h2 text-center"><strong>Meet other travellers</strong></h1>
    </div>
  </div>
</div>

<div class="container">
  <% if current_user.present? %>
  <div class="row justify-content-center">
    <div class="col-12 col-md-4 mt-1 mb-4 padx-4">
      <button class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#createMeetup">
        Post a meetup
      </button>
      <% else %>
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 mt-1 mb-4 padx-4">
        <div class="d-flex flex-wrap justify-content-center align-items-center padx-4 mt-3 mb-3">
          <i class="fa-solid fa-user primary-color me-2"></i> <%= link_to "sign up", new_user_registration_path, class: "me-1" %> or <%= link_to "log in", new_user_session_path, class: "ms-1 me-2" %> to post a meetup
        </div>
      <% end %>
        </div>
      </div>

  <%# my meetup%>
  <% if @mymeetup.count > 0 %>

  <div class="row justify-content-center">
    <div class="accordion mt-3 col-12 col-md-9 padx-4">
      <h2 class="fs-4 mb-2">Meetups I've posted</h2>
      <div class="accordion-item__container pb-4">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button p-2" type="button" data-bs-toggle="collapse" data-bs-target="#myMeetups" aria-expanded="true" aria-controls="collapseTwo">
              Your meetups and replies:
            </button>
          </h2>
            <div id="myMeetups" class="accordion-collapse collapse " aria-labelledby="headingTwo" data-bs-parent="#myMeetups">
              <div class="accordion-body">
                <% if current_user.present? %>
                  <% @mymeetup.each do |m|  %>
                    <div class="card my-meetup-card">
                      <div class="card-body my-meetup-card-body">
                        <h2 class="card-text fs-6"><%= m.content%></h2>
                          <% @chatrooms.each do |chatroom| %>
                            <% if (chatroom.messages.first.status != "REJECT")  && (chatroom.messages.first.meetup_id.eql?m.id) %>
                              <div class="list-group-item d-flex align-items-center justify-content-between align-items-start">
                                <div class="mb-1">
                                  <small class="">🐭🐹 <a href='<%= "#{airport_chatrooms_path}/#{chatroom.id}"%>'><%= chatroom.name %></a></small>
                                </div>
                              </div>
                            <% end %>
                          <% end %>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
      </div>
    </div>
    </div>
  <% end %>

    <%# search meetups %>
    <div class="row justify-content-center">
      <div class="col-12 pt-2 pb-3">
        <div data-controller="search-meetups">
          <%= render "filter", meetup_category: @meetup_category %>
          <div class="row justify-content-center">
            <div class="col-12 col-md-9">
              <%= form_with url: airport_meetups_path,
                method: :get,
                html: {class: "mt-2 mb-2 pb-4 padx-4 filter-meetups", data: {search_meetups_target: "form"}} do |f|
              %>
              <%= f.label :search, "Search meetups",
                          class: "mt-2 mb-1"
              %>
              <%= f.text_field :query,
                class: "form-control bg-white py-1 px-2",
                placeholder: "eg Paris...",
                value: params[:query],
                data: {
                  search_meetups_target: "input",
                  action: "keyup->search-meetups#update"
                }
              %>
              <% end %>
            </div>
          </div>
              <%= render "list", meetups: @meetups %>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
<script type="text/javascript"  src="//ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js" ></script>
<script type="text/javascript"  src="/javascript/emojionearea.min.js" ></script>
