
<!-- Modal for user to create a meetup-->
<% if current_user.present? %>
  <div class="modal fade" id="createMeetup" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createModalLabel">Post your meetup</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
          <div class="modal-body">
            <%= simple_form_for @new_meetup, url: "/airports/#{params[:airport_id]}/meetups", :method => :post do  |f| %>
              <%= f.input :content, label: "What message would you like to post?", placeholder: "eg anyone free for a coffee?" %>
              <%= f.input :meetup_category_id, collection: [["Coffee",1],["Drinks",2],["Food",3],["Kids play",5],["Shopping",4]], label: "What would you like to meet for?" %>
              <%= f.hidden_field :airport_id, value: params[:airport_id] %>
              <%= f.hidden_field :user_id, value: current_user.id %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Post your request</button>
          </div>
            <% end %>
      </div>
    </div>
  </div>
<% end %>

<%= render "shared/airport_nav" %>

<div class="container">
  <div class="row justify-content-center terminal-header">
    <div class="col-12 col-md-9 mt-4 p-3">
        <h1 class="airport__name"><%=@airport.name %></h1>
        <% if @airport.terminal.present? %>
        <h2 class="fs-3"><strong>Terminal <%= @airport.terminal%></strong></h2>
        <% end %>
        <h3 class="my-3">Meet up with other travellers</h3>
    </div>
  </div>

  <% if current_user.present? %>
  <%= render "shared/my_flight", flights: @flights %>
  <% end %>

  <% if current_user.present? %>
  <div class="row justify-content-center">
    <div class="col-12 col-md-9 px-3 mt-5">
      <h2 class="fs-3 mb-3">Arrange to meet others</h2>
      <a href class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createMeetup">
        Post a meetup
      </a>
      <% else %>
        <div class="d-flex flex-wrap align-items-center mb-3">
          <i class="fa-solid fa-user me-2"></i> <%= link_to "sign up", new_user_registration_path, class: "me-1" %> or <%= link_to "log in", new_user_session_path, class: "ms-1 me-2" %> to post a meetup
        </div>
      <% end %>
    </div>
  </div>

  <%# my meetup%>
  <% if @mymeetup.count > 0 %>

  <div class="row justify-content-center">
    <div class="accordion mt-5 col-12 col-md-9 pb-5 px-3">
      <h2 class="fs-3 mb-3">View my meetups</h2>
      <div class="accordion-item__container pb-5">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#myMeetups" aria-expanded="true" aria-controls="collapseTwo">
              Meetups you've posted and replies:
            </button>
          </h2>
            <div id="myMeetups" class="accordion-collapse collapse " aria-labelledby="headingTwo" data-bs-parent="#myMeetups">
              <div class="accordion-body">
                <% if current_user.present? %>
                  <% @mymeetup.each do |m|  %>
                    <div class="card my-meetup-card">
                      <div class="card-body my-meetup-card-body">
                        <h2 class="card-text fs-6"><%= m.content%></h2>
                          <% @chatrooms.each do |chatroom| %>
                            <% if (chatroom.messages.first.status != "REJECT")  && (chatroom.messages.first.meetup_id.eql?m.id) %>
                              <div class="list-group-item d-flex align-items-center justify-content-between align-items-start">
                                <div class="">
                                  <small class="">🐭🐹 <a href='<%= "#{airport_chatrooms_path}/#{chatroom.id}"%>'><%= chatroom.name %></a></small>
                                </div>
                              </div>
                            <% end %>
                          <% end %>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
      </div>
    </div>
    </div>
  <% end %>

    <%# search meetups %>
    <div class="row justify-content-center">
      <div class="col-12 col-md-9 px-3">

        <div data-controller="search-meetups">
          <%= render "filter", meetup_category: @meetup_category%>
          <%= form_with url: airport_meetups_path,
            method: :get,
            html: {class: "mt-2 mb-4 pb-5 filter-meetups", data: {search_meetups_target: "form"}} do |f|
          %>
          <%= f.label :search, "Search meetups",
                      class: "mt-2 mb-1"
          %>
          <%= f.text_field :query,
            class: "form-control bg-white",
            placeholder: "eg Paris...",
            value: params[:query],
            data: {
              search_meetups_target: "input",
              action: "keyup->search-meetups#update"
            }
          %>
          <% end %>
          <%= render "list", meetups: @meetups %>
        </div>
      </div>
    </div>
</div>
