<div class="container chatroom"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
  data-chatroom-subscription-current-user-id-value="<%= current_user.id %>">

  <h1>#<%= @chatroom.name %>
  <% if  @chatroom.messages.first.meetup.user_id.eql?current_user.id %>
    <%= simple_form_for @chatroom, url: airport_chatroom_path, :method => :patch do  |f| %>
    <button class="btn btn-danger">Reject and close</button>
    <% end %>
  <% end %>
  </h1>

 <div class="messages" data-chatroom-subscription-target="messages">
<% @chatroom.messages.each do |message| %>
  <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
    <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
      <%= render "messages/message", message: message %>
    </div>
  </div>
<% end %>
</div>

<%= simple_form_for [@chatroom, @message], url: airport_chatroom_message_path,
  html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f|
%>
  <%= f.input :content,
    label: false,
    placeholder: "Message ##{@chatroom.name}",
    wrapper_html: {class: "flex-grow-1"}
  %>

  <input value=<%= @chatroom.messages.last.meetup.id %> autocomplete="off" type="hidden" name="meetup_id" id="meetup_id" />
  <%= f.submit "Send", class: "btn btn-primary mb-3" %>

<% end %>

</div>

<script type="text/javascript">

  $(document).ready(function() {

    $("#message_content").emojioneArea({
      autocomplete: false,
      search: false,
      emojiPlaceholder: ":smile_cat:",
    searchPlaceholder: "Search",
    buttonTitle: "Use your TAB key to insert emoji faster",
    searchPosition: "bottom",
    pickerPosition: "top"
    });

  });
</script>
