<div class="container">
  <div class="row justify-content-center terminal-header">
    <div class="col-12 col-md-9 mt-3 mb-2 py-1 padx-4">
      <p class="fs-4 mb-0">Welcome to</p>
      <h1 class="airport__name"><%=@airport.name %></h1>
        <% if @airport.terminal.present? %>
          <h2 class="fs-3 airport__terminal"><strong>Terminal <%= @airport.terminal%></strong></h2>
        <% end %>
    </div>
  </div>
</div>
<% if current_user %>
  <%= render "shared/my_flight" %>
<% end %>
<% @this_flight = current_user.flights.find_by(airport_id: @airport.id) if current_user %>
        <% if !@this_flight  %>
<div class="container find-flight" data-controller="search-flights">
  <div class="row justify-content-center">
    <div class="col-12 col-md-9 mt-1 padx-4 flight-form">
              <%= form_with url: airport_path,
                                  method: :get,
                                  html: {
                                    class: "input-group flex-column",
                                        data: {
                                          search_flights_target: "form"
                                        }
                                  } do |f| %>

                                  <%= f.label :query, "Find your flight ", class: "d-block fs-5 mb-2" %>

                                  <%= f.text_field :query,
                                                    value: params[:query],
                                                    class: "form-control text-start text-muted border border-4 w-100",
                                                    placeholder: "enter your flight number eg BA123",
                                                    data: {
                                                      search_flights_target: "input",
                                                      action: "keyup->search-flights#update"
                                                    }
                                  %>
                          <% end %>
      <%= render "airports/flight_list", flights: @flights %>
      <% end %>
    </div>
  </div>
</div>
