<div class="row justify-content-center">
  <div class="col-12 col-md-9 mt-3 p-3">
    <p class="fs-4 mb-0">Welcome to</p>
    <h1><%=@airport.name %></h1>
      <% if @airport.terminal.present? %>
        <h2 class="fs-3"><strong>Terminal <%= @airport.terminal%></strong></h2>
      <% end %>
  </div>
</div>
<% if user_signed_in? %>
  <%= render "shared/my_flight" %>
<% end %>
<div class="find-flight" data-controller="search-flights">
  <div class="row justify-content-center">
    <div class="col-12 col-md-9 mt-3">
      <%= form_with url: airport_path,
                          method: :get,
                          html: {
                                class: "input-group flex-column",
                                data: {
                                  search_flights_target: "form"
                                }
                          } do |f| %>
                          <div class="d-flex">
                            <%= f.label :query, "Find your flight ", class: "d-block mb-1" %>
                          <%= link_to "login to save your flight details", new_user_session_path, class: "link-primary ms-2" if !user_signed_in?%>
                          </div>
                          <%= f.text_field :query,
                                            value: params[:query],
                                            class: "form-control text-start text-muted border border-4 w-100",
                                            placeholder: "enter your flight number eg BA123",
                                            data: {
                                              search_flights_target: "input",
                                              action: "keyup->search-flights#update"
                                            }
                          %>
            <% end %>
            <%= render "airports/flight_list", flights: @flights %>




    </div>
  </div>
</div>
