<div class="row w-100 justify-content-center" data-controller="search-airports">
  <div class="col col-md-8 my-5">
    <h2 class="text-center mb-3">Find your airport</h2>
    <%= form_with url: root_path,
                  method: :get,
                  class: "input-group mb-3" do %>
      <%= text_field_tag :query,
                  params[:query],
                  class: "form-control",
                  placeholder: "Find your airport..."
      %>
      <%= submit_tag "Search", class: "btn btn-outline-secondary" %>
      <% end %>
  </div>
</div>
<%# render "airports/list", airports: airports %>
<div class="row w-100 justify-content-center">
  <div class="col-12 col-md-4 col-offset-4 mb-5">
    <% @airports.each do |airport| %>
    <p><%= airport.name %>
      <%= link_to "go to airport", airports_path, class: "btn btn-primary" %>
    </p>
  <% end %>
  </div>
</div>
