
<h1> Welcome to <%=@airport.name %>
<%= @airport.terminal%> </h1>

<h3> FLIGHT NUMEBER </h3>
<h3> Time until gate opes </h3>
<div class="d-flex flex-column w-25">
<br>
 <%= link_to "Meet People", meetups_path, class: "badge bg-success  rounded-pill text-light text-decoration-none me-1" %>
 <br>
 <%= link_to "Top Tips", tips_path, class: "badge bg-success  rounded-pill text-light text-decoration-none me-1" %>
 <br>
 <%= link_to "Facilities", airport_facilities_path(@airport.id), class: "badge bg-success rounded-pill text-light" %>

</div>
