  <div class="row">
      <% @tips.each do |tip| %>
      <div class="col-12 col-md-4 mb-3">
        <div class="card w-100 h-100 border-0 p-2 shadow">
          <div class="card-header pt-4">
            <p class="category px-3 py-1 mb-3 border-0"><%= tip.tip_category.name %></p>
            <h2 class="fs-5 mb-1"><%= tip.title %></h2>
          </div>
          <div class="card-body py-2">
            <p class="mb-0"><%= tip.content %></p>
          </div>
          <div class="card-footer py-2 mt-3 text-muted border-0">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <p class="mb-0">
                  <small>
                    <% if tip.user.photo %>
                    <%= image_tag tip.user.photo, alt: tip.user.nickname, width: 50 %> <%= tip.user.nickname %></small>
                    <% else %>
                    <%= image_tag "https://cdn3.iconfinder.com/data/icons/web-design-and-development-2-6/512/87-1024.png", alt: tip.user.nickname, width: 20 %> <%= tip.user.nickname %></small>
                    <% end %>
                  </small>
                </p>
              </div>
              <div>
                <p class="mb-0"><small class="d-flex align-items-center"><i class="fa-regular fa-heart me-2"></i> <%= tip.likes %></small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
  </div>
</div>
