<div class="container">
  <div class="row">
    <div class="col">
        <div class="mt-5 mb-2 p-2">
          <h1>
            <%= @airport.name %>
            <% if @airport.terminal.present? %> <br />
              Terminal <%= @airport.terminal %>
              tips
            <% else %>
              tips
            <% end %>
          </h1>
        </div>
    </div>
  </div>

<div class="row" data-controller="tips-select-filter" data-select-filter-url="<%= tips_filter_path %>">
  <div class="col-12 col-md-4 my-3">
      <h2>Filter tips by</h2>
      <select name="categories" multiple size="<%= @tip_categories.length %>"  data-action="tips-select-filter#change">
        <%= @tip_categories.each do |category| %>
          <option value="<%= category.name %>"><%= category.name.humanize %></option>
        <% end %>
      </select>
  </div>


  <%# <div class="row">
    <div class="col-12 col-md-4 my-3">
      <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
        <option selected>Filter tips by...</option>
        <option value="1">Utilities</option>
        <option value="2">Food & drink</option>
        <option value="3">Good for families</option>
      </select>
    </div>
  </div> %>

  <div class="row">
    <div class="col-12 col-md-4 mb-3">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#submitTip">
          Add a tip
      </button>
    </div>
  </div>

    <!-- Modal -->
  <div class="modal fade" id="submitTip" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add your tip</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Form will go here...</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>

   <div data-tips-select-filter-target="tips">
     <%= render partial: 'tips/tip_list', locals: { tips: @tips} %>
   </div>
</div>
