<!-- Modal -->
<div class="modal fade" id="submitTip" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title h5" id="exampleModalLabel">Add your tip</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for @tip, url: airport_tips_path, :method => :post do  |f| %>
                                              <%= f.input :title, label: "Give your tip a one line summary", required: true, placeholder: "eg Best food in the airport" %>
                                              <%= f.input :content, label: "What is your tip?", required: true, placeholder: "Type your tip here..." %>
                                              <%= f.input :tip_category_id, collection: @tip_categories, as: :select, label: "Choose a category for your tip", class: "text-muted", prompt: "Choose from..." %>
                                              <%= f.hidden_field :airport_id, value: params[:airport_id] %>
                                              <%= f.hidden_field :user_id, value: current_user.id if current_user.present? %>
                                              <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <%= f.submit class: "btn btn-primary" %>
                                              </div>
                                            <% end %>
        </div>
    </div>
  </div>
</div>

<%= render "shared/airport_nav" %>
<% if current_user.present? %>
  <%= render "shared/my_flight", flights: @flights %>
<% end %>
<div class="container">
  <div class="row justify-content-center terminal-header">
    <div class="col-12 col-md-9 mt-2 py-1 padx-4">
        <h1 class="mt-2 mb-3 h2 text-center"><strong>Top tips</strong></h1>
          <% if @tips.length == 0 %>
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-12">
                  <p class="fs-4 text-center mt-3">There are no tips yet for this airport. Why not add one?</p>
                </div>
              </div>
            </div>
            <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row" data-controller="tips-select-filter" data-select-filter-url="<%= tips_filter_path %>">
    <div class="col-12 mt-1 mb-4 padx-4 tips-add-filtered">
    <% if current_user %>
      <button type="button" class="btn btn-primary tip-add" data-bs-toggle="modal" data-bs-target="#submitTip">
            Add your tip
      </button>
    <% else %>
      <%= link_to "Login to post a tip", new_user_session_path, class: "btn btn-primary tip-add"  %>
    <% end %>
      <div class="filter">
        <h2 class="fs-4">Filter tips by</h2>
        <select name="categories"  class="form-select" data-action="tips-select-filter#change">
          <option selected>Select from...</option>
          <%= @tip_categories.each do |category| %>
            <option value="<%= category.name %>"><%= category.name.humanize %></option>
          <% end %>
            <option value="All">All</option>
        <input type=hidden name="airport_id" id ="airport_id" value=<%=@airport.id%>>

        </select>
      </div>
    </div>
    <div data-tips-select-filter-target="tips">
      <%= render partial: 'tips/tip_list', locals: { tips: @tips, airport: @airport} %>
    </div>
  </div>
  </div>
  </div>

</div>
