<!DOCTYPE html>
<html>
  <head>
    <title>airportGuru - your holiday starts here! Some say it's basically Tinder for airports - we say it's the only dating app with free security checks </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicons/favicon.ico' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <meta property="og:image" content="./assets/images/facebook-airportguru.jpg">
    <meta property=”og:title” content= "airportGuru">
    <meta property=”og:description” content="airportGuru - your holiday starts here! Some say it's basically Tinder for airports - we say it's the only dating app with free security checks"/>
    <meta property=”og:image:width” content=”1200″/>
    <meta property=”og:image:height” content=”630″/>
  </head>

  <body>
  <%= render "shared/navbar" unless @navbar_disb%>
  <%= render "shared/flashes" %>
    <%= yield %>
  <%= render "shared/footer" unless @navbar_disb%>
  </body>
</html>
