<!DOCTYPE html>
<html>
  <head>
    <title>airportGuru - your holiday starts here! Some say it's basically Tinder for airports - we say it's the only dating app with free security checks </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicons/favicon.ico' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/mervick/emojionearea/master/dist/emojionearea.min.js"></script>

  </head>

  <body>
  <%= render "shared/navbar" unless @navbar_disb%>
  <%= render "shared/flashes" %>
    <%= yield %>
  <%= render "shared/footer" unless @navbar_disb%>
  </body>
</html>
